.custom-username:focus{
    outline: none; /* Remove the default outline */
    box-shadow: none; /* Remove the default focus ring (box-shadow) */
    border: 2px solid rgb(113, 113, 249);
}
.custom-password:focus{
   outline: none; /* Remove the default outline */
    box-shadow: none; /* Remove the default focus ring (box-shadow) */
    border: 2px solid rgb(113, 113, 249);
}
.custom-password1:focus{
   outline: none; /* Remove the default outline */
    box-shadow: none; /* Remove the default focus ring (box-shadow) */
    border: 2px solid rgb(113, 113, 249);
}
.custom-password2:focus{
   outline: none; /* Remove the default outline */
    box-shadow: none; /* Remove the default focus ring (box-shadow) */
    border: 2px solid rgb(113, 113, 249);
}